.container {
    border: 1px solid black;
    width: 100%;
    padding: 20px;
}

.container form input {
    display: block;
    margin: 5px;
}

.container-wrapper {
    display: flex;
    width: 100%;
}