.container {
    /* border: 3px solid rgb(163, 163, 163); */
    border-right: 0;
    width: 100%;
    padding: 20px;
}

thead {
    background-color: #fff;
}

div.dtsp-panesContainer {
    background-color: #fff;
}

.container:last-of-type {
    /* border-right: 3px solid rgb(163, 163, 163); */
}

h2 {
    margin-bottom: 15px;
}

body {
    padding: 20px;
    /* background-color: #f9f9f9; */
}

#addLaptimeForm {
    text-align: center;
    padding: 20px;
    /* border: 3px solid rgb(163, 163, 163); */
    margin: 10px;
    margin-left: 0;
    margin-right: 0;
}

.container form input {
    display: block;
    margin: 5px;
}

.container-wrapper {
    display: flex;
    width: 100%;
}

select {
    width: 300px;
}


/* table.dataTable {
    padding-top: 50px;
} */


/* div.dtsp-panesContainer {
    margin-top: 150px;
} */